$produto-primaria: #d07400;
$produto-secundaria: #ffb72a;
$malthus-secundaria: #c38559;
$posvenda-secundaria: #008cde;
$contabilidade-primaria: #545487;
$contabilidade-secundaria: #8282d2;
$financeiro-primaria: #378443;
$financeiro-secundaria: #6bbf5e;
$preto: rgba(0, 0, 0, 0.87);
$cinza-700: #757575;
$cinza-icone: rgba(0, 0, 0, 0.54);
$desativado: rgba(0, 0, 0, 0.38);
$branco: #ffffff;
$fundo-paginas: #fafafa;
$erro: #b00020;
$atencao: #f5a623;
$sucesso: #086930;
$amarelo-brasilcap: #ffe800;
$monitor-primaria: #c59609;
$monitor-secundaria: #ffcc00;
$malthus-primaria: #914615;
$posvenda-primaria: #006bbb;
$azul-brasilcap: #0059a3;