@import './cores';

$bg-color-menu: $contabilidade-secundaria;
$bg-header: $branco;
$logo: $produto-secundaria;
$preto: preto;

.preto {
    color: $black;
}

.branco {
    color: white;
}

.menu {
    background: $bg-color-menu;
    opacity: .35;
    height: calc(100vh - 70px);
}

.header {
    height: 70px;
    width: 100%;
    background-image: $bg-header;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.logo {
    background-color: $logo;
}