@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@mixin fonte($size, $weight) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

h1 {
  @include fonte(22px, 700)
}

h2 {
  @include fonte(20px, 600)
}

h3 {
  @include fonte(18px, 600)
}

h4 {
  @include fonte(16px, 600)
}

p {
  @include fonte(14px, 400)
}

